PORT=3001
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER/chosen_store
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PRODUCT_IMAGE_DIR=C:/Users/your-user/Desktop
DEFAULT_PRODUCT_PRICE=25000
